<div class="container">
  <div class="row">
    <div class="pt-5 col-md-8 offset-md-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Back to list", restaurants_path %></li>
          <li class="breadcrumb-item active" aria-current="page">New restaurant</li>
        </ol>
      </nav>
      <h1 class="pb-3">New restaurant</h1>
      <%= render "form", restaurant: @restaurant %>
    </div>
  </div>
</div>
